@charset "utf-8";

/*SETTING
-----------------------------------*/

$color-main: #32353C;
$color-accent: #B79B6C;
$color-back: #F4F4F4;
$color-white: #FFFFFF;

@mixin mp-pc() {
    @media(min-width:800px) {
        @content;
    }
}

@mixin inner($w: 800px) {
    max-width: $w + px;
    width: (800/900)*100%;
    margin-left: auto;
    margin-right: auto;
}

@mixin py($p: 84) {
    padding-top: ($p/14)+em;
    padding-bottom: ($p/14)+em;
}

@mixin flex($a: stretch, $j: space-between) {
    display: flex;
    flex-wrap: wrap;
    align-items: $a;
    justify-content: $j;
}

@mixin title() {
    font-size: rem(32);
    line-height: (42/32);
}

@function rem($value) {
    @return ($value/14)+rem;
}

/*BASE
-----------------------------------*/
html {
    font-size: (14/16)*100%;

    @include mp-pc() {
        font-size: (16/16)*100%;
    }
}

body {
    color: $color-main;
    font-family: Helvetica, Arial, sans-serif;
    line-height: (24/14);
    letter-spacing: (0/1000)+em;

    @include mp-pc() {
        line-height: (27/16);
    }
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding-left: 0;
}

li {
    list-style-type: none;
}

/*BLOCK
-----------------------------------*/
/*header*/
.header {
    width: 100%;
    position: fixed;
    padding: 32px 0;
    background-color: $color-white;
    opacity: 0.8;
    z-index: 999;

    &__inner {
        @include inner();
        @include flex($a: center);
    }

    &__nav {
        ul {
            @include flex();

            li {
                font-size: rem(16);
                margin-left: (32/16)+em;
                font-weight: bold;

                span {
                    color: $color-accent;
                }
            }
        }
    }
}

/*footer*/
.footer {
    @include py();
    background-color: $color-main;
    color: $color-white;

    &__inner {
        @include inner();
    }

    &__copy {
        margin-bottom: -1em;

        @include mp-pc() {
            @include flex();
        }

        p {
            margin-bottom: 1em;
            text-align: center;

            @include mp-pc() {
                margin-bottom: 0;
            }
        }

    }
}

/*unit*/
.unit {
    &__season {
        margin-bottom: (28/14)+em;
    }

    &__title {
        @include title();

        span {
            color: $color-accent;
        }
    }

    &__btn {
        display: inline-block;
        width: 185px;
        color: $color-white;
        background-color: $color-main;
        padding: (21/14)+em;
        margin-top: (42/14)+em;
        border-radius: 3px;
        text-align: center;
    }
}

/*card*/
.card {
    &__image {
        position: relative;
    }

    &__image::after {
        content: "SALE";
        width: 100px;
        padding: (14/14)+em;
        color: $color-white;
        background-color: $color-accent;
        border-radius: 3px;
        text-align: center;
        position: absolute;
        top: (21/14)+em;
        left: (21/14)+em;
    }


    &__category {
        margin-top: (28/14)+em;
        margin-bottom: (21/14)+em;
    }

    &__name {
        margin-bottom: (10/21)+em;
        font-size: rem(21);
        line-height: (21/27);
        font-weight: bold;
    }

    &__price {
        font-size: rem(21);
        line-height: (21/27);
        font-weight: bold;
        color: $color-accent;
    }
}

/*------index------*/
/*visual*/
.visual {
    //clamp(最小値,最小値と最大値の間,最大値)
    //間の値は、ウィンドウの横幅がどのサイズのときに、最小値にしたいかで計算する。
    //今回はブレイクポイントが800pxで、最小値が600pxなので、(600/800)*100で計算。
    height: clamp(600px, 75vw, 800px);
    background-image: url("../images/bg_home.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

/*goods*/
.goods {
    article:nth-child(even) {
        background-color: $color-back;

        .goods__inner {
            @include mp-pc() {
                flex-direction: row-reverse;
            }
        }
    }

    &__recommend {
        @include py();
    }

    &__inner {
        @include inner();

        @include mp-pc() {
            @include flex($a: center);
        }
    }

    &__introduction {
        margin-bottom: (56/14)+em;

        @include mp-pc() {
            width: (360/1200)*100%;
        }
    }

    &__list {
        @include flex();

        @include mp-pc() {
            width: (780/1200)*100%;
        }
    }

    &__item {
        width: (370/800)*100%;
    }

}


/*share*/
.share {
    @include py();

    &__inner {
        @include inner();
    }

    &__title {
        @include title();
        margin-bottom: (48/32)+em;
        text-align: center;
    }

    &__list {
        @include flex();
        margin-bottom: -(56/14)+em;
    }

    &__item {
        width: (370/800)*100%;
        margin-bottom: (56/14)+em;

        @include mp-pc() {
            width: (270/1200)*100%;
        }
    }
}

/*topic*/
.topic {
    @include py();
    background-color: $color-back;

    &__inner {
        @include inner();
    }

    &__list {
        margin-bottom: -(56/16)+em;

        @include mp-pc() {
            @include flex();
        }
    }

    &__item {
        @include py(112);
        margin-bottom: (56/16)+em;
        padding-left: (42/14)+em;
        padding-right: (42/14)+em;
        color: $color-white;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    &__01 {
        background-image: url(../images/bg_post01.png);

        @include mp-pc() {
            width: (760/1200)*100%;
        }
    }

    &__02 {
        background-color: $color-accent;

        @include mp-pc() {
            width: (380/1200)*100%;
        }
    }
}